@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'LeagueSpartan';
  src: url('./static/fonts/LeagueSpartan-Regular.ttf');
  font-style: normal;
}

#es-decros.es-decros {
  font-family: 'LeagueSpartan', Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
}
#es-decros.es-decros html,
#es-decros.es-decros body {
  margin: 0;
  padding: 0;
}
#es-decros.es-decros sup {
  vertical-align: top;
  font-size: 0.5em;
  line-height: inherit;
}
#es-decros.es-decros h2,
#es-decros.es-decros h3,
#es-decros.es-decros h4,
#es-decros.es-decros h5 {
  font-family: 'LeagueSpartan', Tahoma, Verdana, sans-serif;
  color: #000;
}
#es-decros.es-decros * {
  box-sizing: border-box;
}
#es-decros.es-decros .es-kv {
  margin-bottom: 48px;
}
#es-decros.es-decros .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-decros.es-decros .es-kv__left {
  background: url(./static/img/kv-photo.png) left no-repeat;
  background-size: cover;
  min-height: 573px;
}
#es-decros.es-decros .es-kv__span {
  color: #e22120;
}
#es-decros.es-decros .es-kv__span--percent {
  font-size: 64px;
}
#es-decros.es-decros .es-kv__span--right {
  color: #000;
  font-size: 18px;
}
#es-decros.es-decros .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 32px;
}
#es-decros.es-decros .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding-left: 5%;
}
#es-decros.es-decros .es-kv__subtitle {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-left: 5%;
}

#es-decros.es-decros .es-kv__content {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#es-decros.es-decros .es-serum {
  padding: 16px;
  margin-bottom: 11px;
}
#es-decros.es-decros .es-serum__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
}
#es-decros.es-decros .es-serum__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: center;
  max-width: 850px;
  margin-inline: auto;
}
#es-decros.es-decros .es-serum__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 10px;
  text-align: center;
}
#es-decros.es-decros .es-serum__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 42px;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  margin-bottom: 24px;
}
#es-decros.es-decros .es-serum__feature {
  width: 160px;
}
#es-decros.es-decros .es-serum__feature:hover .es-serum__icon {
  transform: scale(1.2);
}
#es-decros.es-decros .es-serum__icon {
  flex: 1;
  transition: transform 0.3s ease;
}
#es-decros.es-decros .es-serum__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-decros.es-decros .es-serum__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  flex: 2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin: 16px 0;
  margin-bottom: 0;
}
#es-decros.es-decros .es-bottle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-decros.es-decros .es-bottle__list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  list-style-image: url(./static/img/dot.png);
}
#es-decros.es-decros .es-bottle__item {
  padding: 0;
  margin: 0 0 16px;
  color: #fff;
  line-height: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}
#es-decros.es-decros .es-bottle__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#es-decros.es-decros .es-bottle__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-decros.es-decros .es-bottle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 430px;
  padding: 0 16px;
  margin-top: 20px;
  background-color: #be1e1b;
}
#es-decros.es-decros .es-res {
  margin-bottom: 40px;
}
#es-decros.es-decros .es-res__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}
#es-decros.es-decros .es-res__wrapper {
  background: rgb(170, 26, 24);
  background: linear-gradient(
    90deg,
    rgba(170, 26, 24, 1) 0%,
    rgba(215, 36, 30, 1) 100%
  );
  padding: 32px 16px;
}

#es-decros.es-decros .es-res__subtitle {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: inherit;
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}
#es-decros.es-decros .es-res__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#es-decros.es-decros .es-res__week {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}
#es-decros.es-decros .es-res__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
#es-decros.es-decros .es-res__disc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 10px;
  padding: 16px;
  text-align: center;
}
#es-decros.es-decros .es-res__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: #fff;
  padding: 24px 16px 0 16px;
  font-size: 10px;
  text-align: center;
}
#es-decros.es-decros .es-ingredients {
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 40px;
}
#es-decros.es-decros .es-ingredients__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 32px;
  text-align: center;
}
#es-decros.es-decros .es-ingredients__container .es-ingredients__single {
  opacity: 1;
}
#es-decros.es-decros .es-ingredients__container:hover .es-ingredients__single {
  opacity: 0.5;
}
#es-decros.es-decros .es-ingredients__container .es-ingredients__single:hover {
  opacity: 1;
}
#es-decros.es-decros .es-ingredients__container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 5px;
  justify-content: center;
}
#es-decros.es-decros .es-ingredients__single {
  flex: 1;
  flex-basis: 100%;
  max-width: 200px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
#es-decros.es-decros .es-ingredients__image {
  position: relative;
}
#es-decros.es-decros .es-ingredients__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-decros.es-decros .es-ingredients__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  padding-top: 16px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
#es-decros.es-decros .es-hand {
  margin-bottom: 32px;
}
#es-decros.es-decros .es-hand__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
#es-decros.es-decros .es-hand__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}
#es-decros.es-decros .es-hand__disclaimer {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 8px;
  text-align: center;
}
#es-decros.es-decros .es-hand__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 42px;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}
#es-decros.es-decros .es-hand__feature {
  width: 140px;
}
#es-decros.es-decros .es-hand__feature:hover .es-hand__icon {
  transform: scale(1.2);
}
#es-decros.es-decros .es-hand__icon {
  flex: 1;
  transition: transform 0.3s ease;
}
#es-decros.es-decros .es-hand__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-decros.es-decros .es-hand__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  flex: 2;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 16px 0;
  margin-bottom: 0;
}
#es-decros.es-decros .es-use {
  margin-bottom: 56px;
}
#es-decros.es-decros .es-use__wrapper {
  background: rgb(170, 26, 24);
  background: linear-gradient(
    90deg,
    rgba(170, 26, 24, 1) 0%,
    rgba(215, 36, 30, 1) 100%
  );
  padding: 32px;
}
#es-decros.es-decros .es-use__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}
#es-decros.es-decros .es-use__list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
#es-decros.es-decros .es-use__item {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #fff;
}
#es-decros.es-decros .es-use__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 16px;
  color: #fff;
}
#es-decros.es-decros .es-routine__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}
#es-decros.es-decros .es-routine__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  display: none;
}
#es-decros.es-decros .es-routine__container {
  padding: 16px;
}
#es-decros.es-decros .es-routine__single {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  align-items: center;
  margin-inline: auto;
}
#es-decros.es-decros .es-routine__subtitle {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 20px;
  text-transform: uppercase;
  margin: 12px 0;
  text-align: center;
  font-weight: 500;
}
#es-decros.es-decros .es-routine__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
  margin-bottom: 24px;
  text-align: center;
}
#es-decros.es-decros .es-routine__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background: #e22720;
  padding: 8px 32px;
  border: 1px solid #e22720;
  transition: all 0.3s ease;
}
#es-decros.es-decros .es-routine__link:hover {
  color: #e22720;
  background: #fff;
}
#es-decros.es-decros .es-routine__img-packshot {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
#es-decros.es-decros .es-routine__packshot {
  margin-bottom: 32px;
}
#es-decros.es-decros .es-disclaimer {
  margin-bottom: 32px;
}
#es-decros.es-decros .es-disclaimer__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: 12px;
  text-align: center;
}
#es-decros.es-decros .es-routine__cross {
  display: none;
}
@media screen and (min-width: 789px) {
  #es-decros.es-decros .es-bottle__img--mobile {
    display: none;
  }
  #es-decros.es-decros .es-kv__text {
    margin-bottom: 0;
    padding-left: 30px;
    margin-top: -40px;
  }
  #es-decros.es-decros .es-kv {
    display: flex;
    flex-direction: row-reverse;
  }
  #es-decros.es-decros .es-kv__left {
    width: 50%;
  }
  #es-decros.es-decros .es-kv__right {
    width: 50%;
  }
  #es-decros.es-decros .es-serum__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 800px;
    gap: unset;
  }
  #es-decros.es-decros .es-bottle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #es-decros.es-decros .es-res {
    background: url(./static/img/photo-2.png) no-repeat right top;
    margin-bottom: 64px;
    padding: 0 0;
    background-size: 50%;
  }
  #es-decros.es-decros .es-bottle__photo {
    width: 50%;
  }
  #es-decros.es-decros .es-res__wrapper {
    width: 50%;
    height: 430px;
    background: rgb(170, 26, 24);
    background: linear-gradient(
      90deg,
      rgba(170, 26, 24, 1) 0%,
      rgba(215, 36, 30, 1) 100%
    );
    max-width: 55%;
  }
  #es-decros.es-decros .es-res__single {
    width: 120px;
  }
  #es-decros.es-decros .es-res__disclaimer {
    margin: 0 auto;
  }
  #es-decros.es-decros .es-ingredients {
    padding: 0;
    margin-bottom: 60px;
  }
  #es-decros.es-decros .es-ingredients__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #es-decros.es-decros .es-use {
    background: url(./static/img/photo-3.png) no-repeat left top;
    background-size: 50%;
    min-height: 465px;
  }
  #es-decros.es-decros .es-use__title {
    font-size: 26px;
    padding: 0;
    font-weight: 600;
  }
  #es-decros.es-decros .es-use__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(170, 26, 24);
    background: linear-gradient(
      90deg,
      rgba(170, 26, 24, 1) 0%,
      rgba(215, 36, 30, 1) 100%
    );
    max-width: 50%;
    margin-left: auto;
    min-height: 448px;
  }
  #es-decros.es-decros .es-use__content {
    margin-left: -115px;
    margin-top: 15px;
    padding-left: 16px;
    max-width: 72%;
  }
  #es-decros.es-decros .es-use__item:last-child {
    margin-bottom: 0;
  }
  #es-decros.es-decros .es-routine {
    margin-bottom: 10px;
  }
  #es-decros.es-decros .es-routine__img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 110%;
  }
  #es-decros.es-decros .es-routine__container {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
  }
  #es-decros.es-decros .es-res__week {
    font-size: 48px;
  }
  #es-decros.es-decros .es-res__text {
    font-size: 18px;
  }
  #es-decros.es-decros .es-res__container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #es-decros.es-decros .es-kv__photo {
    max-width: 500px;
  }
  #es-decros.es-decros .es-routine__packshot {
    display: none;
  }
  #es-decros.es-decros .es-routine__cross {
    display: block;
    margin-bottom: 68px;
  }
  #es-decros.es-decros .es-hand__wrapper {
    max-width: 444px;
    padding-top: 133px;
    margin-left: 11%;
  }
  #es-decros.es-decros .es-hand__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 800px;
    gap: unset;
  }
  #es-decros.es-decros .es-hand {
    background: url(./static/img/hand.png);
    min-height: 563px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  #es-decros.es-decros .es-bottle__content {
    width: 50%;
  }

  #es-decros.es-decros .es-ingredients__text {
    font-size: 18px;
  }
  #es-decros.es-decros .es-routine__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  #es-decros.es-decros .es-kv__subtitle {
    font-size: 29px;
  }
  #es-decros.es-decros .es-kv__title {
    font-size: 40px;
  }
  #es-decros.es-decros .es-kv__photo img {
    max-width: 90%;
  }
  #es-decros.es-decros .es-bottle__content {
    align-items: flex-start;
    padding-left: 46px;
    padding-top: 40px;
  }

  #es-decros.es-decros .es-bottle__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  #es-decros.es-decros .es-res__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #es-decros.es-decros .es-bottle__list {
    max-width: 300px;
  }
  #es-decros.es-decros .es-routine__text {
    max-width: 260px;
  }
}
